html,
body {
  font-family: "Red Hat Mono", monospace;
  scroll-behavior: smooth;
}
.box {
  display: grid;
  height: 100vh;
  background-color: #d6e6f2;
}
.information {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  width: 40rem;
  height: 15rem;
  margin: auto;
  padding: 1rem;
  border-radius: 2rem;
  border-color: transparent;
  background-image: url("top-view-watercolor-paint-background.jpg");
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 17px 15px -3px rgba(0, 0, 0, 0.1),
    0px -12px 15px -3px rgba(0, 0, 0, 0.1);
}
.img {
  position: relative;
  grid-column: 1 / span 2;
  border-radius: 2rem;
  box-shadow: 0px 17px 15px -3px rgba(0, 0, 0, 0.1),
    0px -12px 15px -3px rgba(0, 0, 0, 0.1);
}
.content {
  position: relative;
  grid-column: 3 / span 3;
  /* border:2px solid red; */
}
.info {
  /* border:2px solid red; */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22rem;
  transform: translate(-50%, -50%);
  text-align: center;
}

.icon {
  position: absolute;
  /* border:2px solid red; */
  top: 95%;
  left: 50%;
  width: 20rem;
  transform: translate(-50%, -50%);
  text-align: center;
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 230px;
  transform: translate(-50%, -50%);
  border: 0.5rem solid rgb(255, 255, 255);
  border-radius: 2rem;
}
.buttun {
  margin: 0 1rem 0.8rem 1rem;
}
.buttun a {
  padding: 0.1rem;
  border: 2px solid #000000;
  border-radius: 1rem;
  /* border-color: transparent; */
  box-shadow: 0px 17px 15px -3px rgba(0, 0, 0, 0.1),
    0px -12px 15px -3px rgba(0, 0, 0, 0.1);
  color: #000000;
  text-decoration: none;
}
a {
  border-color: transparent;
  box-shadow: 0px 17px 15px -3px rgba(0, 0, 0, 0.1),
    0px -12px 15px -3px rgba(0, 0, 0, 0.1);
  color: #2a64b6;
  text-decoration: none;
}

#facebook {
  color: #0572e6;
}
#instagram {
  color: #b23c8c;
}

#line {
  color: #02ba21;
}

#github {
  color: #53534e;
}
#gitlab {
  color: #b70118;
}
/* INDEX*/
.PROFILE {
  grid-gap: 1rem;
  display: grid;
  grid-template-columns: auto auto auto auto auto;

  max-width: 35rem;
  min-height: 20rem;
  margin: auto;
  padding: 1rem;
  border-radius: 2rem;
  border-color: transparent;
  background-image: url("top-view-watercolor-paint-background.jpg");
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 17px 15px -3px rgba(0, 0, 0, 0.1),
    0px -12px 15px -3px rgba(0, 0, 0, 0.1);
}
.personal {
  grid-column: 1 / span 3;
  /* border: 1px solid red; */
}
.education {
  grid-column: 4 / span 3;
  /* border: 1px solid red; */
}
.buttun {
  position: relative;
  grid-row: 2;
  grid-column: 1 / span 6;
  /* border: 1px solid red; */
}
.pro .left,
.ex .left {
  position: absolute;
  left: 0;
}
.pro .right,
.ex .right {
  position: absolute;
  right: 0;
}
/* PROFILE */
.EXP {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  max-width: 55rem;
  min-height: 28rem;
  margin: auto;
  padding: 1rem;
  border-radius: 2rem;
  border-color: transparent;
  background-image: url("top-view-watercolor-paint-background.jpg");
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 17px 15px -3px rgba(0, 0, 0, 0.1),
    0px -12px 15px -3px rgba(0, 0, 0, 0.1);
}

.workexp,
.skill {
  grid-column: 1 / span 6;
}
/* EXP */
.SKILLS {
  display: grid;
  grid-template-columns: auto auto auto auto auto;

  max-width: 35rem;
  min-height: 16rem;
  margin: auto;
  padding: 1rem;
  border-radius: 2rem;
  border-color: transparent;
  background-image: url("top-view-watercolor-paint-background.jpg");
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 17px 15px -3px rgba(0, 0, 0, 0.1),
    0px -12px 15px -3px rgba(0, 0, 0, 0.1);
}
/* SKILLS */

@media screen and (min-width: 200px) and (max-width: 700px) {
  .box {
    display: grid;
    height: 200vh;
    background-color: #d6e6f2;
  }
  .information {
    display: grid;
    position: relative;
    grid-template-columns: auto auto auto auto auto;
    width: 16rem;
    height: 30rem;
    margin: auto;
    border-radius: 2rem;
    border-color: transparent;
  }
  .img {
    grid-row: 1;
    grid-column: 1 / span 6;
    width: 15rem;
    height: 15rem;
    margin: auto;
  }
  .content {
    grid-row: 2;
    grid-column: 1 / span 6;
    height: 15rem;
  }
}
ul {
  list-style-type: none;
}
li {
  margin: 0;
  padding: 0;
}

li::before {
  content: "🚀 ";
}
